<div class="menu-container">
    <div class="sidebar-container">
        <span class="logotype">English Learning App</span>
        <a class="navlink"  routerLink="/app/home"><i class="fa-regular fa-house"></i>Home</a>
        <a class="navlink"  routerLink="/app/vocabulary"><i class="fa-solid fa-book-open"></i>Vocabulary</a>
        <a class="navlink"  routerLink="/app/quiz-level"><i class="fa-solid fa-clipboard-question"></i>Quiz</a>
        <a class="navlink"  routerLink="/app/profile"><i class="fa-regular fa-user"></i>Profile</a>
    </div>
    <div class="router-outlet-container">
        <router-outlet></router-outlet>
    </div>
</div>